name: Connectors CI

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'kubernetes/**'
      - '**.md'
      - 'grafana/**'
      - 'prometheus/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Get project version
        uses: HardNorth/github-version-generate@v1.1.1
        with:
          version-source: file
          version-file: gradle.properties
          version-file-extraction-pattern: '(?<=version=).+'

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Test with Gradle
        run: |
          docker pull gaiaadm/pumba:latest
          docker pull datastax/dse-server:6.8.16
          docker pull apachepulsar/pulsar:2.8.1
          docker pull datastax/lunastreaming:2.7.2_1.1.8
          ./gradlew connector-luna:test connector-pulsar:test
